.backdrop {
  position: fixed;
  visibility: visible;
  background-color: map-get($color, "gray-1");
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0.6;
  transition: $defaultTransition;

  &.backdrop-hide {
    visibility: hidden;
    z-index: -100;
    opacity: 0;
    transition: $defaultTransition;
  }
}