$navbar_min_padding_y: 0.9rem;
$navbar_max_padding_y: 1.5rem;

$navbar_min_title_size: 1.1rem;
$navbar_max_title_size: 1.4rem;
$navbar_min_subtitle_size: 1rem;
$navbar_max_subtitle_size: 1.2rem;

// Nanti pindah z-index ke sini!