.layout-outlet {
  display: flex;
  flex-direction: column;
  
  .layout-outlet-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: map-get($color, "primary");
    
    h3 {
      @include fluidpaddingx(2rem);
      @include fluidpaddingy(2rem);
      @include fluid("font-size", 1.8rem);
      text-align: center;
      color: map-get($color, "white");
    }

    .outlet-nav {
      color: map-get($color, "gray-4");

      & > * {
        @include fluidpaddingy(1rem);
        @include fluid("border-bottom-width", .4rem);
        border-bottom-style: solid;
        border-bottom-color: map-get($color, "primary");
        cursor: pointer;
        text-align: center;
        transition: $defaultTransition;


        &:hover {
          background-color: map-get($color, "primary-2");
          border-bottom-color: map-get($color, "primary-light");
          color: map-get($color, "white");
        }

        &.active {
          border-bottom-color: map-get($color, "primary-light");
          color: map-get($color, "white");
        }
      }
    }
  }

  .layout-outlet-body {
    width: 100%;
    display: flex;
    flex-direction: column;

    .outlet-nav-content {
      align-items: center;

      .outlet-nav-content-image {
        @include fluidpadding(2rem);

        img {
          width: 100%;
        }
      }

      .outlet-nav-content-desc {
        p {
          @include fluid("font-size", 1.3rem, 1.4rem);
        }

        .outlet-nav-content-title {
          @include fluid("font-size", 1.5rem, 1.6rem);
        }

        .outlet-nav-content-button{
          @include fluid("border-radius", .5rem);
          @include fluid("font-size", 1.2rem);
          @include fluidpaddingx(1rem);
          @include fluidpaddingy(0.3rem);
          color: initial;
        }
      }
    }

    .layout-outlet-article {
      @include fluid("min-height", 20rem, 28rem);
      @include fluid("padding", 3rem);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h3 { @include fluid("font-size", 2rem) }
      p { @include fluid("font-size", 1.4rem) }
    }
  }
}