.navbar {
  @include box-shadow();
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: map-get($color, "white");
  
  display: flex;
  flex-direction: column;

  .navbar-tabs {
    @include fluidpaddingx(1.5rem, 2rem);
    @include fluidpaddingy($navbar_min_padding_y, $navbar_max_padding_y);
    width: 100%;
  }

  .page-nav-wrapper {
    display: flex;
    max-width: 100vw;
    overflow-x: hidden;

    @include bp-max-width($bp-medium) {
      overflow-x:scroll;
    }

    .page-nav-pill {
      @include fluid("border-bottom-width", .2rem);
      @include fluidpaddingx(1.5rem);
      @include fluidpaddingy(1rem);
      cursor: pointer;

      color: inherit;
      text-decoration: none;
      font-weight: 600;

      color: rgba(map-get($color, "primary"), 0.4);
      border-bottom-style: solid;
      border-bottom-color: map-get($color, "gray-2");

      &:hover, &.active {
        color: map-get($color, "primary");
        border-bottom-color: map-get($color, "primary");
      }
    }
  }
  
  .navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-main-company {
      display: flex;
      align-items: center;

      .navbar-main-img {
        @include fluid("height", 3rem, 4rem);
      }
  
      .navbar-main-text {
        @include fluid("margin-left", 1.2rem);
  
        .navbar-main-text-title {
          @include fluid("font-size", $navbar_min_title_size, $navbar_max_title_size);
          font-weight: 700;
        }
  
        .navbar-main-text-subtitle {
          @include fluid("font-size", $navbar_min_subtitle_size, $navbar_max_subtitle_size)
        }
      }
    }
  }
}